<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<h3>Search Results</h3>

<!-- <ul>
  <% data["Search"].forEach(function(movie) { %>
    <li>
      <strong>
        <%= movie["Title"]%>
      </strong>
      <button action="/home" method="post">Save</button><br>
        <img src=<%= movie["Poster"] %> >
    </li>
  <% }) %>
</ul> -->

<!-- NEW TRIAL RENDER -->
<ul>
  <% data["Search"].forEach(function(movie) { %>
    <li>
      <form action="/" method="post">

          <label for="Title"><strong><%= movie["Title"]%></strong></label><br>
          <input type="hidden" name="title" value="<%= movie["Title"]%>">

          <label for="Poster"><img src=<%= movie["Poster"] %> ></label><br>
          <input type="hidden" name="poster" value="<%= movie["Poster"]%>">

          <button type="submit" class="waves-effect waves-light btn grey"> Save </button>
      </form>
    </li>
  <% }) %>
</ul>



<a href="/search" class="waves-effect waves-light btn">Search Again</a>
<footer>
  <% include partials/footer %>
</footer>
